/* styles for my final project*/

/* heading styles*/

.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family:'PT Sans', sans-serif;
}

.navbar {
  color: #4B0082;
  font-family:'PT Sans', sans-serif;
  font-size: 1.2em;
}

/*second title styles*/

.second-title {
  font-size: 40px;
  color: #fff;
  font-family: 'PT Sans';
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  border-bottom: 2px solid #f1f1f1;
  padding: 1.5em 0;
  opacity: .7;
  background: #4B0082;
  text-align: center;
  border: 0px solid #000;
}

/*byline for my name*/

.byline {
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  font-family: 'PT Sans';
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  border-bottom: 2px solid #f1f1f1;
  padding: 1.5em 0;
  opacity: .7;
  background: #4B0082;
  border: 0px solid #000;
}

/*main styles for text*/

.container {
  font-size: 1.4em;
  color: #4B0082;
  font-family: 'PT Sans';
  font-weight: normal;
}

.italic {
font-size: 1em;
color: #4B0082;
font-family: 'PT Sans';
font-style: italic;
font-weight: normal;
}

.italic1 {
font-size: 1em;
color: #4B0082;
font-family: 'PT Sans';
font-style: italic;
font-weight: bold;
}


/*picture styles*/
figure {
  text-align: center;
}

figcaption {

    font-size: .7em;
    font-family:'PT Sans',
    font-weight: normal;
    text-align: center;
    color: #4B0082;
}

/*styles for hero image*/

.hero-image {
  width:100%;
}

/* large quote at beginning */

.quote {
  font-family: 'PT Sans';
  color: #4B0082;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: 15px 0 15px 0;
  border-top: 1px solid #4B0082;
  border-bottom: 1px solid #4B0082;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: medium;
}


/*photo gallery*/

.gallery {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #E6E6FA;
  border-color: #E6E6FA;
  border-width: thick;
}

.figure1{
  width: 200px;
  margin: 8px 0;
  border: 2px solid #fff;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
}
.figure1 img {
  width: 100%;
}
.figcaption1 {
  text-align: center;
  font-size: .9em;
  font-family:'PT Sans',
  color: #4B0082;
}


.subhead::first-letter {
  initial-letter: 2;
  font-size: 6em;
  float: left;
  margin-top: 0.1em;
  color: #4B0082;
  font-family: 'PT Sans';
  font-weight: normal;
}
p {
  font-family:'PT Sans',
  line-height: 180%;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: left;
  color:#4B0082;
  font-family:'PT sans', sans-serif;
  padding: 40px 0 15px 0;
  border-top: 1px solid #4B0082;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: medium;
}

/* styles for the lyrics*/

.lyrics {
  font-size: .8em;
  font-family:'PT Sans',
  font-weight: normal;
  text-align: center;
  color: #4B0082;
}

/* bubble around the lyrics*/

.speech-bubble {
	position: relative;
	background: #E6E6FA;
	border-radius: .4em;
  max-width: inherit;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.125em solid transparent;
	border-top-color: #E6E6FA;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.562em;
	margin-bottom: -1.125em;
}

/*footer styles*/

footer {
  text-align: center;
  font-family: 'PT Sans';
  line-height: 180%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  padding: 2em 0;
  background: #000000;
  text-align: center;
  color: #FFFFFF;
}


/*media queries*/

@media (max-width: 650px) {
  p {
    padding-left: 20px;
    padding-right: 10px;
    }
  .chapter-head {
    font-size: 1.25em;
  }
  .hero-head {
    font-size: 1.5em;
  }
  .gallery {
    padding left: 10px;
    padding right: 10px;
  }
  .speech-bubble {
    padding left: 20px;
    padding right: 20px;
  }
}
