p {
  margin: 0 auto;
  width: 900px;
  font-family: georgia,serif,'sans-serif', 'sans-serif';
  font-size:13px;


}

h1 {
  font-family:helvetica, 'sans-serif';
  font-size: 30px;
}


h2 {
  font-family:helvetica, 'sans-serif';
  font-size: 14px;
}


h3 {
  font-family:helvetica, 'sans-serif';
  font-size: 14px;
}

figcaption {
  font-family:helvetica, 'sans-serif';
  font-size:12px;
}

blockquote {
font: 16px/24px normal helvetica, 'sans-serif';
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: red;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}
