/*styles for my resume*/


BODY {
  font-family:'open-sans', arial, 'sans-serif';
  font-size: 1em;
  color:#444;
  background-color:#f0ebfb;
}

.h3{
  font-weight: bold;
  text-align: center;
  font-size: 0.5em;
  top: 50%;
  margin-right: 10px;
  margin-left: 300px;
  display: block;
  width: 30%;
  border-bottom: 5px solid;
  border top: 5px solid;
}

.img-container {
  text-align: justify;
  display: block;
  border-radius: 50%;
  margin-left: 12px;
}

.col {
  display: inline;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  border-radius: 25%
}

.col1 {
  text-align:center;
  border: 2px solid #000;
  font-style: normal;
  text-align: center;
  border-bottom: 2px solid #f1f1f1;
  padding: 1.5em 0;
  border: 1px solid #000;
}

#navbar {
  text-align: center;
  font-weight: normal;
  color:#000;
  font-size: 20px;
}

#mini-title {
  text-align: center;
  margin-left: 210px;
  margin-bottom: 20px;
  margin-top: -150px;
  font-size:20px;
  font-style: italic;
  border: 2px solid #000;
  color:#000;
  text-transform: inherit;
  border-bottom:1px soild #33485e;
  width:63%;
  min-width:100px;
}

.sectionheader {
  font-size: 2em;
  font-family: helvetica;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  border-bottom: 2px solid #f1f1f1;
  padding: 1.5em 0;
  background: #F8F3FB;
  text-align: center;
  font-weight: bold;
  border: 0px solid #000;
}

.menu {
  margin: 10px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.menu li{
  display: inline;
  font-size: 15px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)

@media only screen and (max-width: 600px) {}
