/* styles for my research project*/

/* heading styles*/
.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family:'Source Serif Pro', serif;
}

.second-title {
  font-size: 30px;
  color: #060606;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  border-bottom: 2px solid #f1f1f1;
  padding: 1.5em 0;
  opacity: .7;
  background: #FFB6C1;
  text-align: center;
  border: 0px solid #000;
}

h1 {
  font-size: 40px;
  color: #060606;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  text-align: left;

}
/*byline for my name*/

.byline {
  font-size: .7em;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  border-bottom: 2px solid #f1f1f1;
  padding: 1.5em 0;
  opacity: .7;
  background: #FFB6C1;
  border: 0px solid #000;
}

.container {
  font-size: 1.1em;
  color: #060606;
  font-family:'Source Serif Pro', serif;
  font-weight: normal;

  figcaption {

      font-size: .7em;
      font-family:'PT Sans',
      font-weight: normal;
      text-align: center;
      color: #4B0082;
  }

.figure {
  text-align: center;
  font-size: 20em;
  color: #060606;
  font-family:'Source Serif Pro', serif;
  font-style: italic;
  font-weight: bold;
  }

}


/*photo gallery*/

.gallery {
  display: flex;
  max-width: 2000px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FFB6C1;
  border-color: #FFB6C1;
  border-width: thick;
}

.figure1{
  width: 200px;
  margin: 8px 0;
  border: 2px solid #fff;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
}
.figure1 img {
  width: 100%;
}
.figcaption1 {
  text-align: center;
  font-size: .9em;
  font-family:'PT Sans',
  color: #FFB6C1;
}

  .italic {
  font-size: .5em;
  color: #060606;
  font-family:'Source Serif Pro', serif;
  font-style: italic;
  font-weight: bold;
  }
  /* large quote at beginning */

  .quote {
  font-family: 'Source Serif Pro', serif;
  color: #060606;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  padding: 15px 0 15px 0;
  border-top: 1px solid #FFB6C1;
  border-bottom: 1px solid #FFB6C1;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: medium;
}


/*footer styles*/

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
footer {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  line-height: 180%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  padding: 2em 0;
  background: #000000;
  text-align: center;
  color: #FFFFFF;
}


  /*styles for hero image*/

  .hero-image {
    width:100%;
  }

  /*media queries*/

@media (max-width: 650px) {
  p {
    padding-left: 20px;
    padding-right: 10px;
    }
  .chapter-head {
    font-size: 1.25em;
  }
  .hero-head {
    font-size: 1.5em;
  }
  .gallery {
    padding left: 10px;
    padding right: 10px;
  }
  .speech-bubble {
    padding left: 20px;
    padding right: 20px;
  }
}
